@model App.WebInfo.MVCUI.Models.ReportViewModel
<form id="form" asp-controller="Report" asp-action="Filter" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Filter.PersonalId" />
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <label for="Cinsiyet"> Cinsiyet</label>
            <select asp-for="Filter.Cinsiyet.CinsiyeId" asp-items="Model.CinsiyetList"></select>
        </div>
        <div class="col-xs-12 col-md-3">
            <label for="din"> Din</label>
            <select asp-for="Filter.Din.DinId" asp-items="Model.DinList"></select>
        </div>
        @*<div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.EgitimDurumuList"></select>
        </div>
        <div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.IslemYapanList"></select>
        </div>*@
    </div>
    <div class="row">
        @*<div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.KanGrubuList"></select>
        </div>
        <div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.KayitDurumuList"></select>
        </div>
        <div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.MedeniDurumuList"></select>
        </div>
        <div class="col-xs-12 col-md-3">
            <select asp-for="Filter.Cinsiyet" asp-items="Model.SosyalYardimDurumuList"></select>
        </div>*@
    </div>
    <div class="btn-group">
        <input type="submit" class="btn btn-primary" value="Ara"/>
    </div>
</form>