@{
    Layout = null;
}
<html>
<head>
    <title>Erişim İzniniz Yok</title>
    <link href="/assets/pages/css/error.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body class="page-404-full-page">
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number font-red"> 401</div>
        <div class="details">
            <h3>Oops!... Yetki Erişim Hatası</h3>
            <p>
                Bu İşlemi Yapmak için yetkiniz yok. 
                <br />
                <a href="/"> Ana Sayfa </a>
            </p>
        </div>
    </div>
</div>
</body></html>