@model App.WebInfo.MVCUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Kayıt";
    Layout = "_Layout";
}
<div class="portlet light bordered">
<div class="portlet-title">
    <div class="caption">
        <i class=" icon-layers font-red"></i>
        <span class="caption-subject font-red sbold uppercase">Kullanıcı Ekle</span>
    </div>
    <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
            <i class="icon-cloud-upload"></i>
        </a>
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
            <i class="icon-wrench"></i>
        </a>
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
            <i class="icon-trash"></i>
        </a>
    </div>
</div>
<div class="portlet-body">
<form asp-controller="Account" asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group clearfix">
        <label asp-for="UserName" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı ">
            <span asp-validation-for="UserName"></span>
        </div>
    </div>
    <div class="form-group clearfix">
        <label asp-for="Password" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" placeholder="Kullanıcı Şifre">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group clearfix">
        <label asp-for="Email" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" placeholder="E-Posta Adresi">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group clearfix">
        <label asp-for="Roles" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <select id="multiple" multiple="multiple" class="form-control select2-multiple" asp-for="Roles" asp-items="@Model.RoleList"></select>
        </div>
    </div>
    <div class="form-actions noborder">
        <button type="submit" class="btn blue">KAYDET</button>
    </div>
</form>
    </div></div>